@import "tailwindcss";

.container {
  max-width: 1300px;
  margin: 0 auto;
}

* {
  transition: all 0.3s ease-in-out;
  scroll-behavior: smooth;
}

.active {
  border-color: aqua;
  color: aqua;
}

/* Tailwind yordamida background rasmlarni qo‘shish */
